<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>{{title}}</title>

    <!-- Reset CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/reset.css">

    <!-- Bootstrap core CSS -->
    <link href="/assets/ext/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom fonts -->
    <link href="/assets/ext/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
    <!-- Custom styles -->
    <link rel="stylesheet" href="/assets/css/style.css" type="text/css" />

</head>
<body>
    
    <div class = "container">
        <div class="page-header">
            <h1 class = "text-center">Magic Prawns</h1>
        </div>

        {{!-- Post flash messages here --}}
        {{#if success_msg}}
            <div class = "alert alert-success">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
            <div class = "alert alert-danger">{{error_msg}}</div>
        {{/if}}
        {{#if error}}
            <div class = "alert alert-danger">{{error}}</div>
        {{/if}}
        
    

        {{{body}}}

    </div>

	 <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <p class="text-muted"><span class="copyright">Copyright &copy; MagicPrawns 2017</span></p>
                </div>
            </div>
        </div>
    </footer> <!-- ./footer-->
    
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/assets/ext/bootstrap/js/bootstrap.min.js"></script>

    <!-- Custom Script-->
    <script type="text/javascript" src="/assets/javascript/app.js"></script>
</body>
</html>