{{!-- 
{{#unless savedTabIsActive}}
<section class="container">
	<table class="table table-striped">
	<thead>	
	<tr>
		<th class="col-md-3">Dish Rating</th><th class="col-md-3">Dish Name</th><th class="col-md-3">Restaurant</th><th class="col-md-3">Zip Code</th>
	</tr>
	</thead>
	<tbody>
	{{#each Dish}}	
	<tr>
		<td class="col-md-3">{{this.rating}}</td><td class="col-md-3">{{this.dish_name}}</td><td class="col-md-3">{{this.restaurant}}</td><td class="col-md-3">{{this.zip_code}}</td>
	</tr>	
	{{/each}}
	</tbody>
	</table>
</section>	
{{/unless}}	 --}}

{{#unless savedTabIsActive}}
<section class="container">
	<div class = "row">
		{{#each Dish}}	
		<div class = "col-sm-6 col-md-4">
			<div class="thumbnail">
      			<img class="img-rounded img-responsive" src="{{this.Meals.0.image}}" alt="{{this.dish_name}}">
      				<div class="caption">
      					<ul class = "list-inline">
      						<li><h3>{{this.dish_name}}&nbsp;&nbsp;</h3></li>

      						<li><div class="star-ratings-css">
  								<div class="star-ratings-css-top" style="width: {{multiply (divide this.rating 5) 100}}%"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
  								<div class="star-ratings-css-bottom"><span>★</span><span>★</span><span>★</span><span>★</span><span>★</span></div>
								</div></li>
      					</ul>
      					<h5>RESTAURANT | {{this.restaurant}}, {{this.zip_code}} </h5>
      				</div>{{!-- ./caption --}}
    		</div>{{!-- ./thumbnail --}}
		</div>{{!-- ./col-sm-6 --}}
		{{/each}}
	</div>{{!-- ./row --}}

</section>	
{{/unless}}	

{{> saved/activate-saved}}

